.local-btn {
    border-radius: $br-sm;
    font-size: 1em;
    background: none;
    border: 2px solid $black-1;
    height: 35px;
    width: 35px;
    display: inline-block;
    transition: .3s;
    align-self: end;
}

.edit-btn {
    grid-column: 3/4;
    &:hover, &:focus {
        background: $black-1;
        color: $white-1;
    }
}

.delete-btn {
    grid-column: 2/3;
    &:hover, &:focus {
        background: $red-2;
        color: $white-1;
    }
}