.login-form {
    margin: 10vh auto;
    width: 90vw;
    max-width: 350px;
}

.login-legend {
    text-align: center;
    font-size: 1.15em;
    font-weight: 600;
    border-bottom: 2px solid $white-2;
    margin-bottom: 5vh;
}

.lgin-label {
    font-size: 16px;
    font-weight: 600;
    color: $black-3;
    display: block;
}
.lgin-input{
    font-size: 14px;
    font-weight: 400;
    display: block;
    &:invalid {
        border: .25vh solid $red-1;
    }
}

.lgin-row {
    margin: 2vh auto;
    width: 66%;
    text-align: center;
}